@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src: local('Pretendard Bold'), url('./Pretendard-Bold.woff2') format('woff2'),
    url('./Pretendard-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src: local('Pretendard Medium'), url('./Pretendard-Medium.woff2') format('woff2'),
    url('./Pretendard-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: swap;
  src: local('Pretendard Light'), url('./Pretendard-Light.woff2') format('woff2'),
    url('./Pretendard-Light.woff') format('woff');
}
