<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <springProfile name = "develop">
    <property name="LOG_PATH" value="./backend/logs/develop"/>
  </springProfile>

  <springProfile name = "production">
    <property name="LOG_PATH" value="./backend/logs/production"/>
  </springProfile>

  <springProfile name = "default">
    <property name="LOG_PATH" value="./backend/logs/local"/>
  </springProfile>

  <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
  <property name="CONSOLE_LOG_PATTERN" value="%green(%d{yyyy-MM-dd HH:mm:ss.SSS, ${logback.timezone:-Asia/Seoul}}) %magenta([%thread]) %clr(%5level) %cyan(%logger) - %yellow(%msg%n)" />
  <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS, ${logback.timezone:-Asia/Seoul}} [%thread] %5level %logger - %msg%n" />

  <include resource="default-appender.xml" />
  <include resource="http-appender.xml" />
  <include resource="error-appender.xml" />
  <include resource="slack-appender.xml" />

  <logger name="SlackAlertLogger" level="ERROR" additivity="false">
    <appender-ref ref="ASYNC_SLACK_APPENDER"/>
  </logger>

  <logger name="ExceptionLogger" level="WARN" additivity="false">
    <appender-ref ref="ERROR"/>
  </logger>

  <logger name="HttpLogger" level="INFO" additivity="false">
    <appender-ref ref="HTTP"/>
  </logger>

  <root level="INFO">
    <appender-ref ref="DEFAULT"/>
  </root>
</configuration>
