<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>에러 코드 명세</title>
    <link th:href="@{/api/v2/resources/error-code.css}" rel="stylesheet" />
</head>

<body>
<table>
    <thead>
    <tr>
        <th>에러코드</th>
        <th>상태코드</th>
        <th>예외 메세지</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="each : ${exceptionSituations}">
        <td><span th:text="${each.getErrorCode()}"></span></td>
        <td><span th:text="${each.getStatusCode()}"></span></td>
        <td><span th:text="${each.getMessage()}"></span></td>
    </tr>
    </tbody>
</table>
</body>
</html>
